{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<!--<div class="banner-item img-fluid d-flex justify-content-center align-item-center"></div>-->
	<img src="{{ asset('build/images/banner.jpg') }}" alt="bannière" class="img-fluid ">
	<section class=" w-80 h-auto">
		<div class="card mt-3  d-flex justify-content-start" style="max-width: 650px;">

			<div class="row g-0">
				<div class="col-md-4">
					<img src=" {{ asset('build/images/heart-g04447ed14_1920.jpg')}} " class="img-fluid rounded-start" alt="mains forme un coeur">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Mariage</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sunt autem laborum architecto odio, illum amet ex perspiciatis repudiandae eveniet
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="card mt-3  d-flex justify-content-end" style="max-width: 650px;">

			<div class="row g-0">
				<div class="col-md-4">
					<img src=" {{ asset('build/images/heart-g04447ed14_1920.jpg')}} " class="img-fluid rounded-start" alt="mains forme un coeur">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Mariage</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sunt autem laborum architecto odio, illum amet ex perspiciatis repudiandae eveniet
						</p>
					</div>
				</div>
			</div>
		</div>


	</section>

{% endblock %}
