{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="banner-item w-100 vh-100 d-flex justify-content-center align-item-center"></div>
{% endblock %}
