{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<!--<div class="banner-item img-fluid d-flex justify-content-center align-item-center"></div>-->
	<img src="{{ asset('build/images/banner.jpg') }}" alt="bannière" class="img-fluid ">
{% endblock %}
