{% extends 'base.html.twig' %}

{% block title %}Mariages{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="mariages">
          <h1>Mariages</h1>
        
        <div class="paragraph">
            <p>Peut être le plus beaux jours de votre vie , il ne faut évidemment pas passer à cotés des plus belles photos pour immortaliser ce moment là . <br> Je serais a votre disposition pour discuter de ce que vous voulez ou non de la même façon que vous choisirez ou non la « chenille «  avec votre DJ </p>

            <a href=" {{path('app_contact')}} "> <button class="btn btn-primary">Pour plus de renseignements</button> </a>
        </div>
    </div>
</div>

{% endblock %}
