{% extends 'base.html.twig' %}

{% block title %}Corporate{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="corporate">
        <h1>Corporate</h1>
        
        <div class="paragraph">
            <p>Votre entreprise a besoin des meilleures photos pour faire la différence dans cet ère numérique . Vos produits , services , vous même ou bien votre équipe . <br> Vous avez besoin de photos pour expliquer au mieux a vos clients qui vous êtes et ce que vous faites . Discutons de vos besoins ensemble pour mettre en oeuvre la meilleure stratégie commerciale .</p>

            <a href=" {{path('app_contact')}} "> <button class="btn btn-primary">Pour plus de renseignements</button> </a>
        </div>
    </div>
</div>
{% endblock %}
