{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="evenement">
          <h1>Evenements</h1>
        
        <div class="paragraph">
            <p>Que ce soit pour une compétition sportive, une fête privée ou non, enterrement de vie de jeune fille , de garçon , une réunion important au sein de votre entreprise . <br> Tout est envisageable et mérite comme il se doit un beau reportage photo </p>

            <a href=" {{path('app_contact')}} "> <button class="btn btn-primary">Pour plus de renseignements</button> </a>
        </div>
    </div>
</div>
    
{% endblock %}
