{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}

	<div class="portfolio">
		<h1>{{title}}</h1>
		{% for photo in photos %}
			<div class="container m-auto cols-3">
				<div class="row  mt-5">
					<hr>
					<h2>
						{{ photo.name }}
					</h2>
					<img src="{{ asset('/upload/images/' ~ photo.image)}}" alt="photo produit">
					<p>{{photo.description}}</p>
				</div>
			</div>
		{% endfor %}

	</div>


{% endblock %}
