{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!
{% endblock %}

{% block body %}
	{% for photo in photos %}
		<div class="container">
			<div class="cols-3  mt-5">
				<div class="row">
					<img src="{{ asset('/upload/images/' ~ photo.image)}}" alt="photo produit">
				</div>
			</div>
		</div>
	{% endfor %}
	<!--style="width: 80%; height: 80%"-->
{% endblock %}
