{% extends 'base.html.twig' %}

{% block title %}Portraits{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="portrait">
          <h1>Portraits</h1>
        
    <div class="paragraph">
        <p>Réaliser une séance portraits pour vous , vos enfants, vos parents , votre famille ou vos amis , c’est figer un instant qui ne pourra plus disparaitre avec ceux qui vous sont cher .</p>
        <p> Ne perdons pas de vue l’essentiel dans nos vies , je vous aide à créer ces souvenirs dans les meilleures conditions .</p>

        <a href=" {{path('app_contact')}} "> <button class="btn btn-primary">Pour plus de renseignements</button> </a>
    </div>
    
    </div>
      
    
   
</div>
    
{% endblock %}
