{% extends 'base.html.twig' %}

{% block title %}Tirages limités{% endblock %}

{% block body %}
    <main>
        <section class="service-section">
            <h1>{{title}}</h1>
            <div class="banner ">
                
                <div class="paragraph-left">
                <h2>Multiples formats</h2> 
                    <p>Vous rêvez d'orner le mur d'une pièce de votre maison 
                    avec une illustration qui vous inspire, vous transcende ou qui vous fasse voyager?  
                    Je vous imprime mes photographies de façon unique et précise dans de multiple formats.
                    </p>
                    
                </div>
                
                <img id="tirage-1" src="{{ asset('build/images/wallapp-16042022-083434.jpg') }}" alt="tirage-1">
                
                
                <div class="paragraph-right">
                    <h2>Haute qualité d'impression</h2>
                    <p>L'importance que porte mes clients sur la qualité est aussi la mienne. 
                    C'est pourquoi, je garantie le professionnalisme de mes tableaux.
                    </p>
                </div>
                <img id="tirage-2" src="{{ asset('build/images/wallapp.jpg') }}" alt="tirage-2">
                <div class="paragraph-left">
                    <h2>Un matériau de haute qualité</h2>
                    <p>Les photographies sont imprimées sur des plaques en aluminium Dibond® qui offrent un résultat d'exception. Ce procédé garantie la brillance des couleurs pour 50 ans.
                    </p>
                    
                </div>
                <table class="table table-dark table-striped">
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td colspan="2">60 X 90 cm</td>
                            <td></td>
                            <td>150 €</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td colspan="2">70 X  105 cm</td>
                            <td></td>
                            <td>180 €</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td colspan="2">80 X 120 cm</td>
                            <td></td>
                            <td>240 €</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{{ path('app_contact') }}"><button class="btn btn-primary">Je veux le mien</button></a>
            </div>
        </section>
        <aside class="service-aside">
        </aside>
    </main>

{% endblock %}
