{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
    <main class="service-main">
        <section class="service-session">
            <h1>{{title}}</h1>
            <div class="banner">
                <h2>Les photos sur vos mur</h2> 
            </div>
        </section>
        <aside class="service-aside">
        </aside>
    </main>

{% endblock %}
