<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light p-md-3 mb-5 ">
	<div class="container-fluid">
		<div class="d-block">
			<a class="navbar-brand" href="#"><img class="img-fluid " src="{{ asset('build/images/logo2.png') }}" alt="ACME logo" style=" width:150px; height: 150px;"></a>

			<p>LaurentPhotograf</p>

		</div>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav m-auto fs-4">
				<li class="nav-item  p-md-3 ">
					<a class="nav-link" aria-current="page" href="#">Portfolio</a>
				</li>
				<li class="nav-item p-md-3">
					<a class="nav-link" href="#">journal</a>
				</li>
				<li class="nav-item p-md-3 dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Séances Shooting
					</a>
					<ul class="dropdown-menu navbar-light bg-light" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Portrait</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Mariages</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Naissances</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">AquaShooting</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Boudoir</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Corporate</a>
						</li>
					</ul>
				</li>
				<li class="nav-item p-md-3">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
			<ul class="navbar-nav m-auto d-flex justify-content-end fs-4">
				<li class="nav-item p-md-3">
					<a href="#" class="nav-link">
						<i class="fab fa-facebook fs-2"></i>
					</a>
				</li>
				<li class="nav-item p-md-3">
					<a href="#" class="nav-link">
						<i class="fab fa-instagram fs-2"></i>
					</a>
				</li>
			</ul>

		</div>
	</div>
</nav>
