{% extends 'base.html.twig' %}

{% block title %}Boudoir{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="boudoir">
          <h1>Boudoir</h1>
        
        <div class="paragraph">
            <p>Pourquoi faire une séance boudoir? Les raisons sont multiples et personnelles .
 Elles peuvent servir tout simplement a se faire plaisir ou bien a se rassurer , à se trouver belle ou beau grâce a un beau rendu artistique . <br> Vous aussi vous avez droit à un oeil artistique sur votre plastique . seul(e) ou en couple , personnelle ou professionnelle , je serais à votre écoute pour un rendu qui saura vous épater  </p>

            <a href=" {{path('app_contact')}} "> <button class="btn btn-primary">Pour plus de renseignements</button> </a>
        </div>
    </div>
</div>
{% endblock %}
