h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

main {
  height: auto;
}

a.menu {
  margin-top: 0;
  transition: all 0.4s ease-in-out;
}
.legal {
  a {
    text-decoration: none;
    color: #383737;
  }
}

a.menu:hover,
a.menu:focus {
  margin-top: -10px;
}

main,
.banner-item {
  animation: transitionIn 4s;
}

.portfolio {
  animation: transitionIn 8s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.basket {
  margin-right: 1.2rem;
}

.presentation {
  background-image: url(./../../assets/images/camera.jpg);
  background-position: center;
  background-size: cover;
  background-color: #383737a6;
  width: 100%;
  height: auto;
  padding: 2rem;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  justify-content: center;
  align-items: center;
}
// ----------------------------------Page Contact----------------------------
.contact-title {
  display: flex;
  justify-content: center;
  margin: auto;
}
.contact-map {
  max-width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 5px solid rgb(165, 163, 163);
  border-radius: 1.8rem;
  overflow: hidden;
}
.card-contact {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px lightblue;
  #img-contact {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: -75px;
    border-radius: 50%;
    border: 5px solid rgb(48, 135, 175);
  }
}
//------------------------------- Page portraits-------------------------------

.portrait {
  background-image: url("./../../assets/images/woman-2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 80vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      background-color: rgba(245, 245, 220, 0.15);
    }
  }
}

@media screen and (min-width: 1200px) {
  .portrait {
    background-image: url("./../../assets/images/woman-2.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .paragraph {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      max-width: 80vw;
      a {
        text-decoration: none;
        color: rgb(56, 55, 55);
      }

      p {
        padding: 5px;
        font-size: larger;
        background-color: rgba(245, 245, 220, 0.15);
      }
    }
  }
}

//------------------------------------page mariage-------------------------
.mariages {
  background-image: url("./../../assets/images/heart-g04447ed14_1920.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      background-color: rgba(245, 245, 220, 0.15);
    }
  }
}

//------------------------------------page Evenement-------------------------
.evenement {
  background-image: url("./../../assets/images/Naissance.jpg");
  background-size: cover;
  background-position: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    background-color: rgba(226, 226, 216, 0.466);
    border-radius: 0.8rem;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60vw;
    a {
      text-decoration: none;
      color: #383737;
    }

    p {
      padding: 5px;
      font-size: larger;
      background-color: rgba(226, 226, 216, 0.466);
      border-radius: 1.3rem;
    }
  }
}
//------------------------------------page aquashooting-------------------------
.aquashooting {
  background-image: url("./../../assets/images/surf.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      background-color: rgba(245, 245, 220, 0.445);
    }
  }
}

//------------------------------------page boudoir-------------------------
.boudoir {
  background-image: url("./../../assets/images/Woman.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: aliceblue;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 80vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      border-radius: 00.8rem;
      color: aliceblue;
      //background-color: rgba(245, 245, 220, 0.445);
    }
  }
}

//------------------------------------page corporate------------------------
.corporate {
  background-image: url("./../../assets/images/corporate.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: aliceblue;
  }
  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      background-color: rgba(180, 180, 176, 0.541);
      border-radius: 0.8rem;
    }
  }
}
///--------------------------Mentions-----------------------
.mentions {
  max-width: 90%;
  margin: auto;
  padding: 2rem;
}
