h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
}

main {
    height: 100vh;
}

a.menu {
    margin-top: 0;
    transition: all 0.4s ease-in-out;
}

a.menu:hover,
a.menu:focus {
    margin-top: -10px;
}

main,
.banner-item {
    animation: transitionIn 4s;
}

.portfolio {
    animation: transitionIn 8s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#basket {
    position: relative;
}

.count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    background-color: red;
    text-align: center;
    top: -5px;
    right: -5px;
}