h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

main {
  height: auto;
}

a.menu {
  margin-top: 0;
  transition: all 0.4s ease-in-out;
}
.legal {
  a {
    text-decoration: none;
    color: #383737;
  }
}

a.menu:hover,
a.menu:focus {
  margin-top: -10px;
}


.service-section {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
    .paragraph-left{
      
      p {
        text-align: justify;
        width: 90%;
        padding: 0.8rem;
        border-right: rgb(151, 150, 150) 6px solid;
    }
    }
    
    img#tirage-1 {
      align-self: center;
      width: 300px;
      padding: 0.8rem;
    }
    img#tirage-2 {
      align-self: center;
      width: 300px;
      padding: 0.8rem;
    }
    .paragraph-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      p {
        text-align: justify;
        padding: 0.8rem;
        width: 100%;
        border-left: rgb(151, 150, 150) 6px solid;
      }
    }
  a {
    align-self: center;
    margin: 0.7rem;
  }
  table {
    align-self: center;
    margin: auto;
    max-width: 80%
  }
  }
    
}

main,
.banner-item {
  animation: transitionIn 4s;

}

.portfolio {
  animation: transitionIn 8s;
}

.listPost {
 
  background-color: #b4b1b141;

  }

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.basket {
  margin-right: 1.2rem;
}

.presentation {
  background-color: #b4b1b141;
  width: 100%;
  height: auto;
  padding: 2rem;
  color: rgb(12, 12, 12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    
    font-family: 'Send Flowers', cursive;
  }
  p{
    padding-bottom: 0.8rem;
    border-top: #161616 3px solid;
  }
}
//---------------------------------------------image carousel-------------------------------

// ----------------------------------Page Contact----------------------------
.contact-title {
  display: flex;
  justify-content: center;
  margin: auto;
}
.contact-map {
  max-width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 5px solid rgb(165, 163, 163);
  border-radius: 1.8rem;
  overflow: hidden;
}
.card-contact {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px lightblue;
  #img-contact {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: -75px;
    border-radius: 50%;
    border: 5px solid rgb(48, 135, 175);
  }
}
//------------------------------- Page portraits-------------------------------

.portrait {
  background-image: url("./../../assets/images/manon3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    color: aliceblue;
  }
  .paragraph {
    display: flex;
    font-size: smaller;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 80vw;
    a {
      text-decoration: none;
      align-self:flex-start;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      color: rgb(17, 17, 17);
      background-color: rgba(245, 245, 220, 0.75);
    }
  }
}
@media screen and (min-width: 740px){
  .service-section {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      
      .paragraph-left{
        width: 80%;
        margin: auto;
        p {
          width: 50%;
          padding: 0.8rem;
          //border-left: rgb(151, 150, 150) 6px solid;
        }
      }
      
      img#tirage-1 {
        width: 80%;
        padding: 0.8rem;
      }
      img#tirage-2 {
        width: 80%;
        padding: 0.8rem;
      }
      .paragraph-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 80%;
        margin: auto;
        p {
          
          padding: 0.8rem;
          width: 50%;
          //border-right: rgb(151, 150, 150) 6px solid;
        }
      }
    }
      
  }
}
@media screen and (min-width: 1200px) {
  .presentation {
    background-color: #b4b1b141;
    width: 100%;
    height: auto;
    padding: 2rem;
    color: rgb(12, 12, 12);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: 'Send Flowers', cursive;
      padding-right: 0.8rem;
    }
    p {
      border: none;
      border-left: #383737 3px solid;
      padding-left: 0.8rem;
    }
  }
  .portrait {
    background-image: url("./../../assets/images/manon3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h1 {
      color: aliceblue;
    }
    .paragraph {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      max-width: 80vw;
      a {
        text-decoration: none;
        color: rgb(59, 59, 59);
      }

      p {
        padding: 5px;
        font-size: larger;
        color: antiquewhite;
        background-color: rgba(117, 117, 117, 0.55);
      }
    }
  }
}

//------------------------------------page mariage-------------------------
.mariages {
  background-image: url("./../../assets/images/heart-g04447ed14_1920.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      color: rgb(15, 15, 15);
      background-color: rgba(82, 82, 81, 0.15);
    }
  }
}

//------------------------------------page Evenement-------------------------
.evenement {
  background-image: url("./../../assets/images/Naissance.jpg");
  background-size: cover;
  background-position: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    background-color: rgba(226, 226, 216, 0.466);
    border-radius: 0.8rem;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60vw;
    a {
      text-decoration: none;
      color: #383737;
    }

    p {
      padding: 5px;
      font-size: larger;
      background-color: rgba(226, 226, 216, 0.466);
      border-radius: 1.3rem;
    }
  }
}
//------------------------------------page aquashooting-------------------------
.aquashooting {
  background-image: url("./../../assets/images/surf.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      background-color: rgba(245, 245, 220, 0.445);
    }
  }
}

//------------------------------------page boudoir-------------------------
.boudoir {
  background-image: url("./../../assets/images/Woman.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: aliceblue;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 80vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      border-radius: 00.8rem;
      color: aliceblue;
      //background-color: rgba(245, 245, 220, 0.445);
    }
  }
}

//------------------------------------page corporate------------------------
.corporate {
  background-image: url("./../../assets/images/corporate.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: aliceblue;
  }
  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60vw;
    a {
      text-decoration: none;
      color: rgb(56, 55, 55);
    }

    p {
      padding: 5px;
      font-size: larger;
      background-color: rgba(180, 180, 176, 0.541);
      border-radius: 0.8rem;
    }
  }
}
///--------------------------Mentions-----------------------
.mentions {
  max-width: 90%;
  margin: auto;
  padding: 2rem;
}
