{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
    
{% block body %}
<div class="contact-title">
    <h1>Contact</h1>
</div>
    <div class="card-contact" >
        <img id="img-contact"src="{{asset('/build/images/contact.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <ul class="contact">
                <li class="nav-link"><i class="fas fa-user"></i>: Laurent Richard</li>
                <li class="nav-link"><i class="fas fa-envelope"></i> : <a href="mailto:contact@laurentphotograf.fr">contact@laurentphotograf.fr</a> </li>
                <li class="nav-link"><i class="fas fa-phone-alt"></i>: 06 87 23 80 69</li>
            </ul>    
        </div>
    </div>
    <hr>
    <!--   
        <div class="contact-field">
            <div>
            <img id="contact" src=" {{asset('/build/images/contact.jpg')}} " alt="Photo contact" >
            </div>
            
            <ul class="contact">
                <li class="nav-link"><i class="fas fa-user"></i>: Laurent Richard</li>
                <li class="nav-link"><i class="fas fa-envelope"></i> : <a href="mailto:contact@laurentphotograf.fr">contact@laurentphotograf.fr</a> </li>
                <li class="nav-link"><i class="fas fa-phone-alt"></i>: 06 87 23 80 69</li>
            </ul>    
        </div>-->
            <h2 class="text-center p-2"><i class="fas fa-map-marked-alt"></i> <br> mon studio</h2>
            <div class="contact-map"> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2861.103621145573!2d0.655330615772265!3d44.18433177910656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12abb3935fdc620d%3A0x719d1f652599aab!2zNDggUnVlIENvbXDDqHJlLCA0NzU1MCBCb8Op!5e0!3m2!1sfr!2sfr!4v1647944729789!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <p class="text-center p-2"><i class="fas fa-clock "></i> <br> Ouvert du lundi au vendredi de: <br> - 9h00 à 12h00 <br> - 14h00 à 18h00 </p>
        
{% endblock %}
