{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
    
{% block body %}
<h1>Contact</h1>
    <hr>
    <div class="container-fluid">
        <div class="contact-field">
            <div>
            <img id="contact" src=" {{asset('/build/images/contact.jpg')}} " alt="Photo contact" >
            </div>
            
            <ul class="contact">
                <li class="nav-link"><i class="fas fa-user"></i>: Laurent Richard</li>
                <li class="nav-link"><i class="fas fa-envelope"></i> : <a href="mailto:contact@laurentphotograf.fr">contact@laurentphotograf.fr</a> </li>
                <li class="nav-link"><i class="fas fa-phone-alt"></i>: 06 87 23 80 69</li>
            </ul>
        </div>
    </div>
{% endblock %}
