<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
			<link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">

		{% endblock %}

		{% block javascripts %}
			<script src="https://kit.fontawesome.com/9d09ea05f4.js" crossorigin="anonymous"></script>
			<script src="https://www.paypal.com/sdk/js?client-id=Aen7I84ewIdzk-GGC22SKK-Fmx-woGpJrrPAroTrgwfMC1fc5Xgvr0DVyw_EhkoxlUjLT54vwXL171kq&currency=EUR"></script>

			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "navbar/navbar.html.twig" %}
		
		<section class="content"> {% block body %}{% endblock %}
			</section>
			{% include "footer/footer.html.twig" %}
		</body>
	</html>
