<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Content-Type" content="UTF-8">
		<meta name="Content-Language" content="fr">
		<meta name="Description" content="
																					C’est depuis toujours que j’ai eu dans les mains un appareil photo. Autodidacte, sportif et musicien , j’allie le tout pour pouvoir proposer aujourd’hui mes services dans les domaines les plus divers avec un œil artistique , qui ne pourra pas vous laisser insensible .
																					J’ai monté mon propre studio photo a deux pas de bordeaux pour m’exprimer plus encore , des idées fourmillent , il faut bien laisser sortir tout ça !
																					De l’escalade au surf , en passant par les concerts ou les spectacles en tout genre
																					De vos soirées privées a votre mariage en passant par vos portraits famille ou votre entreprise .">
		<meta name="Author" content="Laurent Richard">
		<meta name="Identifier-Url" content="www.laurentphotograf.fr/accueil">
		<meta name="Revisit-After" content="15 days">
		<meta name="Robots" content="all">
		<meta name="Rating" content="general">
		<meta name="Distribution" content="global">
		<meta name="Geography" content="Bordeaux 33000">
		<meta name="Category" content="photography">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
			<link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Send+Flowers&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			<script src="https://www.paypal.com/sdk/js?client-id=ATxk0xtQYkCLvMdtRpHtrXxMb3eCrb9B3zuFCgVpTd-HcQqOmkQzfuUhxNxY0DlZjU1itiJjixbR-Sn0&currency=EUR"></script>

			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "navbar/navbar.html.twig" %}

		<section class="content"> {% block body %}{% endblock %}
			</section>
			{% include "footer/footer.html.twig" %}
		</body>
	</html>
