{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
{% endblock %}
