{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}
	<div class="post m-5">
		<h1>{{title}}</h1>
		{% for post in posts %}
			<div class="container m-auto col-sm-8 col-lg-12">
				<div class="row mt-5">
					<div class="card rounded shadow-lg col-sm-6 col-lg-3 p-2">
						<img src="{{asset('upload/post/' ~ post.image)}}" class="card-img-top" alt="image de la carte">
						<div class="card-body">
							<h5 class="card-title">{{post.title}}</h5>
							<p class="card-text">{{post.content|u.truncate(100)}}</p>
							<a href="#" class="btn btn-primary">Lire plus</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
