{% extends 'base.html.twig' %}

{% block title %}AquaShooting{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="aquashooting">
          <h1>Aquashooting</h1>
        
        <div class="paragraph">
            <p>Vous en avez assez des photos prises avec un téléphone depuis la plage a 150m de là ? Vous avez envie de voir votre bouille en pleine action pendant votre session de surf ? <br> Pour vous ou votre ami(e)? Seul ou a plusieurs , je serais au plus près a l’aide de mon caisson étanche avec la qualité embarqué via mon reflex numérique . Suivie du travail de retouche par la suite .</p>

            <a href=" {{path('app_contact')}} "> <button class="btn btn-primary">Pour plus de renseignements</button> </a>
        </div>
    </div>
</div>

{% endblock %}
